
  .data-flex{
    display: flex;
  }
  .coach-table {
    width: 100%;
    border-collapse: collapse;
  }
  .profile-container {
    background-image: url("../../../public/images/trianglify.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-background {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 5%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    margin-left: 20px;
    margin-top: 10%;
    background-color: white;
    border-radius: 10px;
    width: 65%;
    padding: 20px;
    box-shadow: 0 2px 54px rgba(0, 0, 0, 0.1);
    border: 2px solid #7EBBF1;
  }
  
  .profile-info p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  .profile-info p:first-child {
    margin-top: 0;
  }
  
  .profile-info p:last-child {
    margin-bottom: 0;
  }

  .edit-table{
    font-size: 14px;
  }
  .ad-container {
    background-color: #7EBBF1;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .ad-container p:first-child {
    margin-top: 0;
  }

  .ad-container p:last-child {
    margin-bottom: 0;
  }