.generic-pic {
  padding: 1%;
  width: 50%;
}
.register-button{
  display: inline-block;
  padding: 10px 20px;
  border-color: #C6E5F3;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #7EBBF1;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}
.register-button:hover{
  background-color: #91C3CA;
  text-decoration: none;
}

.login-link{
  color: #7EBBF1;
  text-decoration: underline;
  cursor: pointer;
}
