

.h2Text {
    font-family: monospace;
    color: white;
    text-shadow: -2px 0 black, 0 2px black,2px 0 black, 0 -2px black;
    font-size: 40px;
    margin-left: 10px;
    position: relative;
    top: 15px;
}

.logo {
    float: center;
    width: 20%;
    height: 40px;
    padding-top: 10px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    background-color: #7EBBF1;
    color:black;
  }

  .header-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  